:root {
    --navMain:#252D75;
    --navOnHover: #31A5E5;
    --basicWhite: #F5F5F5;
}

html {
    margin: -8px;
    padding: 0;
    font-size: 12px;
}

.mainNavbar {
    width: 100vw;
    height: auto;
    font-size: 2rem;
    color: var(--basicWhite);
    line-height: 100%;
}

.mainNavbar ul {
    list-style: none;
    padding: 0;
    background-color: var(--navMain);
}

.mainNavbar a {  
    display: block;
    text-decoration: none;
    color: var(--basicWhite);
    margin: 0;
    padding: 0;
}

.navbarContainer {
    display: flex;
    	display: -webkit-box;
    	display: -ms-flexbox;
    flex-direction: row;
    	-webkit-box-orient: horizontal;
    	-webkit-box-direction: normal;
        -ms-flex-direction: row;
    height: 3em;
    margin: 0;
}

.button {
    background-color: var(--navMain);
    width: 10em;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.navDropdownContainer {
    position: relative;
    visibility: hidden;
    opacity: 0;
    padding: 0;
    transition: visibility 0s, opacity 0.2s linear;
        -webkit-transition: visibility 0s, opacity 0.2s linear;
        -o-transition: visibility 0s, opacity 0.2s linear;
    box-shadow: 15px 15px 35px -15px #999;
        -webkit-box-shadow: 15px 15px 35px -15px #999;
}

.dropdown:hover .navDropdownContainer {
    visibility: visible;
	opacity: 1;
}

.button:hover {
    background-color: var(--navOnHover);
    -webkit-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

.option {
    color: #111;
    background-color: var(--basicWhite);
}

#contactLink {
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
	html {
		font-size: 10px;
	}
}

@media screen and (max-width: 800px) {
	html {
		font-size: 8px;
	}
}

@media screen and (max-width: 600px) {
	.button {
		width: 7em;
	}
}

@media screen and (max-width: 440px) {
	html {
		font-size: 6px;
	}
	.button {
		width: 7em;
	}
}

@media screen and (max-width: 330px) {
	html {
		font-size: 5px;
	}
	.button {
		width: 5em;
	}
}