.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -webkit-linear-gradient(top, white, black);
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}:root {
    --navMain:#252D75;
    --navOnHover: #31A5E5;
    --navDropdownOption: #F5F5F5;
}

html {
    margin: -8px;
    padding: 0;
    font-size: 12px;
}

.mainNavbar {
    width: 100vw;
    height: auto;
    font-size: 2rem;
    color: var(--navDropdownOption);
    line-height: 100%;
}

.mainNavbar ul {
    list-style: none;
    padding: 0;
    background-color: var(--navMain);
}

.mainNavbar a {  
    display: block;
    text-decoration: none;
    color: var(--navDropdownOption);
    margin: 0;
    padding: 0;
}

.navbarContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 3em;
    margin: 0;
}

.button {
    background-color: var(--navMain);
    width: 150px;
    padding-top: 1em;
    padding-bottom: 1em;
    text-align: center;
}

.navDropdownContainer {
    visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s, opacity 0.2s linear;
	-o-transition: visibility 0s, opacity 0.2s linear;
	transition: visibility 0s, opacity 0.2s linear;
    position: relative;
    padding: 0;
    -webkit-box-shadow: 15px 15px 35px -15px #999;
            box-shadow: 15px 15px 35px -15px #999;
}

.dropdown:hover .navDropdownContainer {
    visibility: visible;
	opacity: 1;
}

.button:hover {
    background-color: var(--navOnHover);
    -webkit-transition: all 0.12s linear;
    -o-transition: all 0.12s linear;
    transition: all 0.12s linear;
}

.option {
    color: #111;
    background-color: var(--navDropdownOption);
}

#contactLink {
    margin-left: auto;
}